<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Add Contact</title>
</head>
<body>
	<h1>Add a Contact</h1>
	<br/>
	<br/>
	<form th:action="@{/create}" th:object="${contact}" method="post">
	<table id="input_table">
		<tr>
			<td>
				<label for="input-address">Address:</label>
				<input id="input-address" name="address" placeholder="Text" th:field="${contact.address}" type="text"/>
			 </td>
			 <td>
				 <label for="input-city">City:</label>
				 <input id="input-city" name="city" placeholder="Text" th:field="${contact.city}" type="text"/>
			 </td>
			 <td>
			 	<label for="">State:</label>
				 <select  th:field="${contact.state}" id="input-state">
    					<option value="xx" >Select a State</option>
    					<option th:each="state : ${states}" th:value="${state.abbrev}" th:text="${state.name}"></option>
    				</select>
			 </td>
		</tr>
		<tr>
			 <td>
				 <label for="input-fname">First Name:</label>
				 <input id="input-fname" name="firstname" placeholder="Text" th:field="${contact.firstname}" type="text"/>
			 </td>
			 <td>
				 <label for="input-lname">Last Name:</label>
				 <input id="input-lname" name="lastname" th:field="${contact.lastname}" placeholder="Text" type="text"/>
			 </td>
			 
		</tr>
		<tr>
			 <td>
				 <label for="input-zipcode">Zip Code:</label>
				 <input id="input-zipcode" name="zipcode" placeholder="00000-0000" th:field="${contact.zipcode}" type="text"/>
			 </td>
			<td>
				 <label for="input-email">Email:</label>
				 <input id="input-email" name="email" placeholder="xxx@xxx.xxx" th:field="${contact.email}" type="email"/>
			 </td>
			 <td>
				 <label for="input-phone">Phone:</label>
				 <input id="input-phone" name="phone" placeholder="(000)000-0000" th:field="${contact.phone}" type="text"/>
			 </td>
		</tr>
	</table>
	<br/>
	<table>
		<tr>
			<td><input type="button" onclick="location.href='/';" value="Cancel" /></td>
			<td><input type="reset" value="Reset"/></td>
			<td><input type="submit" value="Submit"/></td>
		</tr>
	</table>
	</form>
</body>
</html>